[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
requests = "*"
pyupbit = "*"
cmake = "*"
numpy = "*"
scikit-learn = "*"
lightgbm = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
